body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #607D8B;
}

a:hover {
  color: #78909C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

/* pictures and images must be defined as display: block;
  Otherwise they are considered to be fonts and show font descenders
  below the baseline.
  https: //stackoverflow.com/questions/31444891/mystery-white-space-underneath-image-tag/31445364#31445364
  */
img {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  margin: 0;
}

picture {
  background: transparent;
  display: block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
}